@charset "UTF-8";

:root {
    --color1: #17bcc7;
    --color2: #3DAEB6;
    --color3: #46878B;
    --color4: #415F61;
    --color5: #2E3636;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .content div.intro h2 {
        margin-left: 50px;
    }

    .content div.intro p {

        margin: 30px 50px 50px 50px;
        
        line-height: 1.7em;
    }

}

@media screen and (min-width: 992px) {

    .content div.intro h2 {
        margin-left: 100px;
    }

    .content div.intro p {

        margin: 30px 100px 50px 100px;
        
        line-height: 2em;
    }
}