@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

div.header > p#username {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--color5), var(--color4), var(--color3));
}

div.content {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: white;
    color: #000000;

    border-radius: 10px;

    box-shadow: 5px 5px 5px #0000007b;

    width: 80%;
    height: 500px;

    margin: 10px 0px 10px 0px
}

div.content > p {
    font-family: "Jersey 25", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3em;
    
    margin: 20px 0px 40px 0px;
}

div.content > a {
    display: flex;
    font-size: 1em;

    text-decoration: none;
    color: black;
    
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 50px;

    margin: 10px;

    background-color: var(--color2);

    border: 1px solid black;
    border-radius: 5px;
}

div.content > a:hover {
    background-color: var(--color1);
    cursor: pointer;
}

div.content > a#logout {
    background-color: #ff0000b3;
    width: 20%;
    height: 30px;
    
    margin-top: 10%;
}