@charset "UTF-8";

:root {
    --color1: #17bcc7;
    --color2: #3DAEB6;
    --color3: #46878B;
    --color4: #415F61;
    --color5: #2E3636;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        background-image: linear-gradient(to bottom, var(--color5), var(--color4), var(--color3));
    }

    section#recover {
        width: 80vw;
        height: 180px;
    }
    
    section#recover > div#image {
        float: left;

        background-size: 90%;
        background-position: left;

        width: 30%;
        height: 100%;

        border-radius: 20px 0px 0px 20px;
    }

    section#recover > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    
    main {
        background-image: linear-gradient(to bottom, var(--color5), var(--color4), var(--color3));
    }

    section#recover {
        width: 800px;
        height: 240px;
    }
    
    section#recover > div#image {
        float: right;

        background-size: 80%;
        background-position: right;

        width: 45%;
        height: 100%;

        border-radius: 0px 20px 20px 0px;
    }

    section#recover > div#form {
        float: left;

        width: 55%;
    }

    section#recover > div#form > h1 {
        font-size: 2em;
    }

    section#recover > div#form > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
}