@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

:root {
    --color1: #27D6E1;
    --color2: #3DAEB6;
    --color3: #46878B;
    --color4: #415F61;
    --color5: #2E3636;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: none;
}

body.conteiner {
    display: flex;

    flex-direction: column;

    min-width: 100vw;
    min-height: 100vh;
}

body.conteiner > header {
    align-self: flex-start;
    width: 100%;
}

div.header{
    display: flex;

    background-color: #000000dd;

    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

img.logo {
    max-width: 50px;
}

div.header > h1 {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #ffffff;
}

div.header > span {
    cursor: pointer;
    color: #ffffff;
}

header > menu {
    background-color: #000000dd;

    max-height: 0px;

    overflow: hidden;

    box-shadow: 3px 3px 5px #00000038;

    transition: max-height 750ms ease-in-out;
}

header > menu.active {
    max-height: 40px;
}

header > menu.list > ul {
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
    list-style: none;

    padding: 10px;

    justify-content: space-around;
}

header > menu.list > ul > li {
    display: inline-block;
}

header a {
    border-radius: 10px;

    color: #ffffff;
    text-decoration: none;

    padding: 5px;
    
    transition: ease 500ms;
}

header a:hover {
    background-color: var(--color2);
    transition: ease 500ms;
}

body.conteiner > main {
    display: flex;

    color: white;
    
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 100%;
}

.content div.intro {
    display: flex;

    flex-direction: column;
    align-items: left;
    margin: 10px 0px 10px 0px;

    flex-grow: 1;
}

.content div.intro h2 {
    color: #000000;

    margin: 10px 0px 0px 10px;
    
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content div.intro p {
    color: #000000;

    text-align: justify;

    margin: 30px 15px 30px 15px;
    
    line-height: 1.5em;
}

.content div.get-in-touch {
    display: flex;
    flex-direction: column;

    margin: 5px;
    border-radius: 10px;

    background-color: var(--color3);
}

.content div.get-in-touch > h2 {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;

    margin: 15px 0px 5px 15px;
}

.content div.get-in-touch > form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px 0px 10px 0px;
}

.content div.get-in-touch > form > .box {
    width: 60%;
    height: 30px;
    color: #ffffffab;

    background-color: var(--color5);
    
    box-shadow: inset 0 0 6px #00000080;

    padding: 0px 10px 0px 10px;

    margin-bottom: 5px;
}

.content div.get-in-touch > form > textarea#message {
    resize: none;
    overflow: hidden;
    
    height: 50px;
}

.content div.get-in-touch > form > div.terms {
    margin: 5px;
}

.content div.get-in-touch > form > div.terms > label > a {
    color: #ffffffb3;
    text-decoration: none;
}

.content div.get-in-touch > form > div.terms > label > a:hover {
    color: var(--color4);
}

.content div.get-in-touch > form > input[type=submit] {
    cursor: pointer;
    width: 30%;

    height: 30px;

    background-color: var(--color2);
    color: #ffffff;

    border: none;
    border-radius: 5px;

    margin: 5px 0px 0px 0px;
}

.content div.get-in-touch > form > input[type=submit]:hover {
    background-color: var(--color1);
    cursor: pointer;
}

body.conteiner > footer {
    display: flex;

    background-color: #000000dd;

    flex-basis: 100%;

    align-items: center;
    justify-content: space-between;

    padding: 15px;
}

body.conteiner footer h2 {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

footer > div.socials > a {
    color: #ffffff;

    margin: 0px 5px 0px 5px;

    font-size: 1.3em;
    text-decoration: none;
}